settings.json

Pipfile
Pipfile.lock

data/
data

logdir/
logdir

outs/
*outs/
*outs

tmp/

*.yaml
*.h5
*.npy
*.png

!imgs/*.png
!yaml/*.yaml
!yaml/*/*.yaml
!yaml/*/*/*.yaml
!config/*.yaml
!config/**/*.yaml
!ddpm_segmentation/config/*.yaml

params/
